<table class="awardbox">
<tr><td align="center"><i>Awards last updated: <b>Oct 12, 2013 7:59am</b></i></td></tr>

<tr><td><a href="player.php?steamid=STEAM_1:1:24323838">[BB:S] JonnyBoy0719</a> is The Most Efficient Player with <b>17.36 Points Per Minute</b>.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:36684342">stickdude32</a> came in 2nd with <b>16.79</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:28344274">&gt; download</a> came in 3rd with <b>16.41</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:1:24323838">[BB:S] JonnyBoy0719</a> has the most total playtime with <b>2.14 days of Play</b>.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:43775360">[BB:S] ZED-Hunter</a> came in 2nd with <b>1.47 days</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:29426414">Likai</a> came in 3rd with <b>6.65 hours</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:0:16862446">Zeth_valg</a> is The Headshot King with a <b>25.44&#37; Headshot Ratio</b>.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:29426414">Likai</a> came in 2nd with <b>23.32&#37;</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:58653785">Joel</a> came in 3rd with <b>18.96&#37;</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:1:24323838">[BB:S] JonnyBoy0719</a> is The Real Chicago Ted with <b>17,403 Total Kills</b>.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:43775360">[BB:S] ZED-Hunter</a> came in 2nd with <b>9,456</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:36684342">stickdude32</a> came in 3rd with <b>1,826</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:1:24323838">[BB:S] JonnyBoy0719</a> can Aim For The Top with <b>2,940 Headshots</b>.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:43775360">[BB:S] ZED-Hunter</a> came in 2nd with <b>1,023</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:29426414">Likai</a> came in 3rd with <b>388</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:1:24323838">[BB:S] JonnyBoy0719</a> Masters The Life Of The Undead with <b>4 Survivor</b> kills.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:43775360">[BB:S] ZED-Hunter</a> came in 2nd with <b>1</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:16862446">Zeth_valg</a> came in 3rd with <b>0</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:1:24323838">[BB:S] JonnyBoy0719</a> can Kill Anyone He Wants with <b>17,256 Common Infected</b> kills.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:43775360">[BB:S] ZED-Hunter</a> came in 2nd with <b>9,350</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:36684342">stickdude32</a> came in 3rd with <b>1,820</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:1:24323838">[BB:S] JonnyBoy0719</a> is The Martial Artist with <b>7,316 Total Melee Kills</b>.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:43775360">[BB:S] ZED-Hunter</a> came in 2nd with <b>1,764</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:28344274">&gt; download</a> came in 3rd with <b>233</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:1:24323838">[BB:S] JonnyBoy0719</a> Moves Like They Do with <b>26 Hunter</b> kills.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:43775360">[BB:S] ZED-Hunter</a> came in 2nd with <b>17</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:28344274">&gt; download</a> came in 3rd with <b>5</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:1:24323838">[BB:S] JonnyBoy0719</a> is In The Non-Smoking Section with <b>18 Smoker</b> kills.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:43775360">[BB:S] ZED-Hunter</a> came in 2nd with <b>14</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:28344274">&gt; download</a> came in 3rd with <b>3</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:1:24323838">[BB:S] JonnyBoy0719</a> is a Weight Loss Trainer with <b>36 Boomer</b> kills.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:43775360">[BB:S] ZED-Hunter</a> came in 2nd with <b>24</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:28344274">&gt; download</a> came in 3rd with <b>7</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:1:43775360">[BB:S] ZED-Hunter</a> says The First Hit Is Free with <b>24 Pain Pills Given</b>.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:24323838">[BB:S] JonnyBoy0719</a> came in 2nd with <b>10</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:28344274">&gt; download</a> came in 3rd with <b>3</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:1:24323838">[BB:S] JonnyBoy0719</a> is Wishing He Had A Medigun with <b>29 Medkits Used on Teammates</b>.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:43775360">[BB:S] ZED-Hunter</a> came in 2nd with <b>12</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:43688072">Folfsky101</a> came in 3rd with <b>7</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:1:43775360">[BB:S] ZED-Hunter</a> is Johnny On The Spot by <b>Saving 5 Pounced Teammates From Hunters</b>.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:24323838">[BB:S] JonnyBoy0719</a> came in 2nd with <b>4</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:28344274">&gt; download</a> came in 3rd with <b>1</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:1:43775360">[BB:S] ZED-Hunter</a> is Into Anime, But Not Like That by <b>Saving 2 Teammates From Smokers</b>.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:24323838">[BB:S] JonnyBoy0719</a> came in 2nd with <b>1</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:16862446">Zeth_valg</a> came in 3rd with <b>0</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:1:24323838">[BB:S] JonnyBoy0719</a> is Saving Your Ass with <b>457 Teammates Protected</b>.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:43775360">[BB:S] ZED-Hunter</a> came in 2nd with <b>245</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:58653785">Joel</a> came in 3rd with <b>83</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:1:24323838">[BB:S] JonnyBoy0719</a> is There When You Need Him by <b>Reviving 261 Teammates</b>.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:43775360">[BB:S] ZED-Hunter</a> came in 2nd with <b>121</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:58653785">Joel</a> came in 3rd with <b>23</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:1:24323838">[BB:S] JonnyBoy0719</a> is Checking All The Closets with <b>36 Teammates Rescued</b>.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:29426414">Likai</a> came in 2nd with <b>8</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:37635371">Scrieez</a> came in 3rd with <b>8</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:1:24323838">[BB:S] JonnyBoy0719</a> is Getting Rescued... Again! with <b>63 Campaigns Completed</b>.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:43775360">[BB:S] ZED-Hunter</a> came in 2nd with <b>43</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:29426414">Likai</a> came in 3rd with <b>8</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:1:24323838">[BB:S] JonnyBoy0719</a> is Bringing Down The House by <b>Team Assisting 115 Tank Kills</b>.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:43775360">[BB:S] ZED-Hunter</a> came in 2nd with <b>75</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:58653785">Joel</a> came in 3rd with <b>20</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:1:24323838">[BB:S] JonnyBoy0719</a> is Bringing Superior Firepower by <b>Team Assisting 14 Tank Kills, With No Deaths</b>.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:43775360">[BB:S] ZED-Hunter</a> came in 2nd with <b>12</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:36684342">stickdude32</a> came in 3rd with <b>4</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:1:24323838">[BB:S] JonnyBoy0719</a> is Leaving No Man Behind with <b>196 Safe Houses Reached With All Survivors</b>.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:43775360">[BB:S] ZED-Hunter</a> came in 2nd with <b>130</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:36684342">stickdude32</a> came in 3rd with <b>26</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:1:24323838">[BB:S] JonnyBoy0719</a> is A Terrible Friend with <b>95 Friendly Fire Incidents</b>.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:43775360">[BB:S] ZED-Hunter</a> came in 2nd with <b>71</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:29426414">Likai</a> came in 3rd with <b>21</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:1:43775360">[BB:S] ZED-Hunter</a> is Going To Be Banned, BRB with <b>8 Team Kills</b>.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:24323838">[BB:S] JonnyBoy0719</a> came in 2nd with <b>5</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:28144880">Rex The Impaler</a> came in 3rd with <b>1</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:1:43775360">[BB:S] ZED-Hunter</a> is Not Very Friendly with <b>35 Team Incapacitations</b>.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:24323838">[BB:S] JonnyBoy0719</a> came in 2nd with <b>25</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:36684342">stickdude32</a> came in 3rd with <b>14</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:1:24323838">[BB:S] JonnyBoy0719</a> will Leave You For Dead by <b>Allowing 596 Teammates To Die In Sight</b>.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:43775360">[BB:S] ZED-Hunter</a> came in 2nd with <b>273</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:58653785">Joel</a> came in 3rd with <b>38</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:1:24323838">[BB:S] JonnyBoy0719</a> is Turning Into One Of Them with <b>453 Infected Let In The Safe Room</b>.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:29426414">Likai</a> came in 2nd with <b>182</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:43775360">[BB:S] ZED-Hunter</a> came in 3rd with <b>34</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:1:24323838">[BB:S] JonnyBoy0719</a> is Not A Lady Pleaser by <b>Disturbing 7 Witches</b>.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:28344274">&gt; download</a> came in 2nd with <b>2</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:29426414">Likai</a> came in 3rd with <b>1</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:0:16862446">Zeth_valg</a> is Pain From Above with <b>0 Hunter Nice Pounces</b>.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:28144880">Rex The Impaler</a> came in 2nd with <b>0</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:29426414">Likai</a> came in 3rd with <b>0</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:0:16862446">Zeth_valg</a> is Death From Above with <b>0 Hunter Perfect Pounces</b>.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:28144880">Rex The Impaler</a> came in 2nd with <b>0</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:29426414">Likai</a> came in 3rd with <b>0</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:1:43775360">[BB:S] ZED-Hunter</a> is A Pain Painter causing <b>2 Times Perfect Blindness With A Boomer</b>.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:24323838">[BB:S] JonnyBoy0719</a> came in 2nd with <b>1</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:16862446">Zeth_valg</a> came in 3rd with <b>0</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:0:16862446">Zeth_valg</a> is Driving Survivors In To Extinction with <b>0 Infected Victories</b>.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:28144880">Rex The Impaler</a> came in 2nd with <b>0</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:29426414">Likai</a> came in 3rd with <b>0</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:1:43775360">[BB:S] ZED-Hunter</a> is A Tank Bulldozer inflicting <b>Massive Damage 1 Times To The Survivors</b>.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:16862446">Zeth_valg</a> came in 2nd with <b>0</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:28144880">Rex The Impaler</a> came in 3rd with <b>0</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:1:43775360">[BB:S] ZED-Hunter</a> puts Survivors On Their Knees with <b>7 Incapacitations</b>.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:24323838">[BB:S] JonnyBoy0719</a> came in 2nd with <b>6</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:16862446">Zeth_valg</a> came in 3rd with <b>0</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:0:16862446">Zeth_valg</a> wants Survivors Of The Map causing <b>0 Survivors Grabbing On The Ledge</b>.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:28144880">Rex The Impaler</a> came in 2nd with <b>0</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:29426414">Likai</a> came in 3rd with <b>0</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:0:16862446">Zeth_valg</a> Knows How To Handle Women with <b>0 Crowned Witches</b>.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:28144880">Rex The Impaler</a> came in 2nd with <b>0</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:29426414">Likai</a> came in 3rd with <b>0</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:1:43775360">[BB:S] ZED-Hunter</a> is A Tank Sniper hitting <b>4 Survivors With A Rock</b>.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:16862446">Zeth_valg</a> came in 2nd with <b>0</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:28144880">Rex The Impaler</a> came in 3rd with <b>0</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:1:24323838">[BB:S] JonnyBoy0719</a> Don't Like Zombies Without Manners with <b>30 Spitter</b> kills.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:43775360">[BB:S] ZED-Hunter</a> came in 2nd with <b>21</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:28344274">&gt; download</a> came in 3rd with <b>6</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:1:24323838">[BB:S] JonnyBoy0719</a> Likes To Be On Top with <b>24 Jockey</b> kills.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:43775360">[BB:S] ZED-Hunter</a> came in 2nd with <b>16</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:28344274">&gt; download</a> came in 3rd with <b>5</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:1:43775360">[BB:S] ZED-Hunter</a> Don't Like To Be Pushed Around with <b>14 Charger</b> kills.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:24323838">[BB:S] JonnyBoy0719</a> came in 2nd with <b>13</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:28344274">&gt; download</a> came in 3rd with <b>7</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:1:24323838">[BB:S] JonnyBoy0719</a> Needs The Teammates To Stay In Top Speed with <b>6 Adrenalines Given</b>.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:43775360">[BB:S] ZED-Hunter</a> came in 2nd with <b>4</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:29426414">Likai</a> came in 3rd with <b>3</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:1:24323838">[BB:S] JonnyBoy0719</a> is A Life Giver with <b>23 Defibrillators Used on Teammates</b>.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:43775360">[BB:S] ZED-Hunter</a> came in 2nd with <b>12</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:29426414">Likai</a> came in 3rd with <b>2</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:1:24323838">[BB:S] JonnyBoy0719</a> is The Freedom Fighter by <b>Saving 6 Teammates From Jockeys</b>.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:43775360">[BB:S] ZED-Hunter</a> came in 2nd with <b>6</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:28344274">&gt; download</a> came in 3rd with <b>2</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:1:43775360">[BB:S] ZED-Hunter</a> is Giving Hell To Bullies <b>Saving 16 Teammates From Chargers</b>.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:24323838">[BB:S] JonnyBoy0719</a> came in 2nd with <b>14</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:1:28344274">&gt; download</a> came in 3rd with <b>7</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:0:16862446">Zeth_valg</a> is The Matador with <b>0 Leveled Charges</b>.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:28144880">Rex The Impaler</a> came in 2nd with <b>0</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:29426414">Likai</a> came in 3rd with <b>0</b>.</i></td></tr>
<tr><td><a href="player.php?steamid=STEAM_1:0:16862446">Zeth_valg</a> is a Crowd Breaker with <b>0 Scattering Rams</b>.<br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:28144880">Rex The Impaler</a> came in 2nd with <b>0</b>.</i><br />
<i style="font-size: 12px;"><a href="player.php?steamid=STEAM_1:0:29426414">Likai</a> came in 3rd with <b>0</b>.</i></td></tr>
</table>