	body {
		margin: 0;
		padding: 0;
		background: url(img/stats_bg.jpg)  no-repeat fixed center top transparent;
		background-color: rgb(21,21,21);
		font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
		font-size: 13px;
		color: #D4D4D4;
	}
